@import url(https://fonts.googleapis.com/css?family=Unkempt);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100italic);

body {
    background-color: #f2f2f2;
    /* we will use our own invisible scrollbar in safari and chromium */
    overflow: hidden;
}

/* that scrollbar doesn't seem to work in firefox */
@-moz-document url-prefix() {
    body {
        overflow: visible;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.defaultCursor {
    cursor: default;
}

.header-div {
    width: 500px;
    margin: 70px auto 20px auto;
    position: relative;
}

h1 {
    font-family: 'Unkempt', Helvetica, sans-serif;
    font-weight: 700;
    color: #ca2350;
    text-align: center;
    font-size: 34px;
    padding-left: 80px;
}

h1 > .dot {
    color: #a11c40;
    font-size: 65px;
    position: absolute;
    right: 32.5px;
    top: -30px;
}

.book-icon {
    position: absolute;
    left: 5px;
    top: -15px;
}

.code {
    color: #333333;
    font-family: 'Share Tech Mono', 'Courier New', monospace;
    font-size: 20px;
    position: absolute;
}

.code-js {
    left: 17.5px;
    top: 5px;
}

.code-py {
    left: 62.5px;
    top: 3px;
}

.loading-div {
    margin: 100px auto 0 auto;
    width: 30px;
    font-size: 25px;
}

.posts-div {
    margin: 45px 0 0 0;
}

.post-div {
    height: 90px;
    width: 625px;
    border-radius: 15px 15px;
    background-color: white;
    margin: 0 auto 25px auto;
    position: relative;
}

.post-icon {
    height: 74px;
    width: 74px;
    border-radius: 50%;
    margin: 8px 0 0 16px;
}

.post-headline {
    font-family: 'Roboto Condensed', Helvetica, Times;
    font-size: 18px;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #e55f24;
    text-decoration: none;
}

.post-info {
    font-family: 'Roboto', Times, Helvetica;
    margin-top: -40px;
    margin-left: 110px;
    font-size: 18px;
    font-style: italic;
}

.heart-symbol {
    font-size: 13px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: 'Roboto Condensed', Arial, Times;
    background-color: #8e8d8c;
    color: white;
    border-radius: 5px 5px;
    font-weight: bold;
    padding: 2px 4px 1px 5px;
}

.heart-symbol > i {
    font-size: 14px;
    padding-right: 3.5px;
}

.empty-block {
    height: 25px;
}

/* mobile version */
@media all and (max-width: 640px) {
    .header-div {
        margin-top: 62.5px;
    }
    .posts-div {
        margin-top: 50px;
    }
    .post-div {
        width: 490px;
    }
    .post-headline {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 375px;
        margin-left: 10px;
    }
    .post-info {
        margin-left: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 335px;
    }
    .post-icon {
        margin-left: 6px;
    }
}

@media all and (max-width: 515px) {
    .header-div {
        width: 320px;
        height: 115px;
        margin-top: 35px;
    }
    h1 {
        font-size: 30px;
        margin-top: 5px;
        margin-left: -12.5px;
        padding: 0;
    }
    h1 > .dot {
        right: 12.5px;
        top: 50px;
        font-size: 57.5px;
    }
    .book-icon {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }
    .code-js {
        left: 124px;
        top: 20px;
    }
    .code-py {
        left: 171px;
        top: 19px;
    }
    .posts-div {
        margin-top: 20px;
    }
    .post-div {
        width: 400px;
    }
    .post-headline {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 295px;
        margin-top: 15px;
    }
    .post-info {
        font-size: 16px;
        width: 250px;
        white-space: normal;
        margin-top: -46.25px;
    }
}

@media all and (max-width: 425px) {
    .header-div {
        margin-top: 7.5px;
    }
    .loading-div {
        margin-top: 62.5px;
    }
    .posts-div {
        margin-top: 5px;
    }
    .post-div {
        width: 345px;
        height: 80px;
        margin-bottom: 7.5px;
    }
    .post-icon {
        width: 64px;
        height: 64px;
        margin-left: 2px;
    }
    .post-headline {
        font-size: 14px;
        margin-top: -60px;
        margin-left: 72.5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 260px;
    }
    .post-info {
	margin-left: 72.5px;
	margin-top: -58.75px;
        font-size: 13px;
        width: 195px;
    }
}
